{% extends 'questions/base.html' %}

{% block content %}
    <div>
        <form method="POST" class="post-form">{% csrf_token %}
            <!--<label for="question">질문하기</label>-->
              <div class="form-group">
                <textarea class="form-control" id="question_textarea" name="text" rows="3" required></textarea>
              </div>
            <button type="submit" class="save btn btn-primary">질문하기</button>
        </form>
        <hr>
    {% if questions %}
        {% for question in questions %}
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">{{ question.text|linebreaksbr }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <!--{{ question.author }} ( -->
                    작성 날짜: {{ question.created_date }} <br>
                    받은 추천: {{ question.upvotes.count }}
                </h6>
                {% if not question.isLiked %}
                  <form method="POST" action="{% url 'upvote_question' question.id %}">{% csrf_token %}
                    <button type="submit" class="btn btn-primary">추천 하기</button>
                  </form>
                {% else %}
                  <form method="POST" action="{% url 'downvote_question' question.id %}">{% csrf_token %}
                    <button type="submit" class="btn btn-danger">추천 취소 하기</button>
                  </form>
                {% endif %}
              </div>
            </div>
        {% endfor %}
    {% else %}
        <p>질문이 없습니다.</p>
    {% endif %}
    </div>
{% endblock %}