{% extends 'questions/base.html' %}

{% block content %}
    <div>
        <h1 class="title mt-5 mb-3">질문 피드</h1>
        <p class="top-menu">
            안녕하세요 {{ user.username }}님! <small>(<a href="{% url 'logout' %}">로그아웃</a>)</small><br>
            자유롭게 질문을 올려주세요! 😄
            <br>
            <br>
            *강의 참고 링크: <br>
            <a href="https://www.ebsmath.co.kr/resource/rscView?cate=10097&cate2=10163&cate3=10169&rscTpDscd=RTP10&grdCd=MGRD02&sno=26655&historyYn=study" target="_blank">[EBSMath 이발사의 역설 영상]</a> <br>
            <a href="https://kin.naver.com/qna/detail.nhn?d1id=11&dirId=1113&docId=56266389&qb=cmljaGFyZGlhbg==&enc=utf8&section=kin&rank=1&search_sort=0&spq=0&pid=UaW9bwpVuECssaKRGzVssssss0N-150219&sid=PnElM8pF/U1okKG3qKX85Q%3D%3D" target="_blank">[지식인 리차아드의 역설]</a>
        </p>
        <form method="POST" class="post-form">{% csrf_token %}
            <!--<label for="question">질문하기</label>-->
              <div class="form-group">
                <textarea class="form-control" id="question_textarea" name="text" rows="3" required></textarea>
              </div>
            <div class="submit-container">
                <button type="submit" class="save btn btn-primary">질문하기</button>
            </div>
        </form>
        <div class="warning-container">
           {% if messages%}
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                      {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <hr>
        <div class="question-method-container">
            <div class="refresh-btn-container">
                <button type="button" onclick="location.reload();" class="save btn btn-primary">
                    질문 새로고침 <i class="fas fa-redo-alt"></i>
                </button>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">
                    <i class="fas fa-search"></i>
                </span>
              </div>
              <input id="search-input" type="text" placeholder="Search for Questions" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
    {% if questions %}
        {% for question in questions %}
            <div class="question-card card mt-3">
              <div class="card-body">
                  <h5 class="card-title text-dark">

                      {{ question.text|linebreaksbr }}

                      {% if question.author_id == current_user_id %}
                       <small>
                           <a href="{% url 'delete_question' question.id %}">(삭제)</a>
                       </small>
                      {% endif %}


                  </h5>

                <h6 class="card-subtitle mb-2 text-muted">
                    <!--{{ question.author }} ( -->
                    {{ question.created_date}} <br>
                    추천 {{ question.upvotes.count }} 개
                </h6>

                {% if not question.isLiked %}
                  <form method="POST" action="{% url 'upvote_question' question.id %}">{% csrf_token %}
                      <button type="submit" class="btn btn-light">👍</button>
                  </form>
                {% else %}
                  <form method="POST" action="{% url 'downvote_question' question.id %}">{% csrf_token %}
                      <button type="submit" class="btn btn-primary">👍</button>
                  </form>
                {% endif %}
              </div>
            </div>
        {% endfor %}
    {% else %}
        <p>질문이 없습니다.</p>
    {% endif %}
        <p id="question-not-found" class="d-none">검색한 질문이 없습니다.</p>
        <div class="author-container mt-3 mb-3 text-center">
            <span class="text-monospace"> Made By <a href="https://www.facebook.com/rockethyun" target="_blank">Junghyun Park</a> 🚀 </span>
        </div>
    </div>
{% endblock %}