{% extends 'questions/base.html' %}

{% block content %}
    <section class="container login-container">
        <h1 class="title mt-3 mb-3">✨ 제2회 BAG 모임 ✨</h1>
        <p>
            Speaker: 지민웅 🎮
        </p>
        <div class="login-btn-container">
            <div class="btn-container mb-3">
                <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook">
                    <i class="fab fa-facebook-f"></i> Sign in with Facebook
                </a>
            </div>
            <div class="btn-container">
                <a href="{% url 'social:begin' 'google-oauth2' %}"  class="btn btn-block btn-social btn-google">
                    <i class="fab fa-google"></i> Sign in with Google
                </a>
            </div>
        </div>
    </section>
{% endblock %}